h1{

    background-color: #D104FF;
    color: azure;
    width: 178PX;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resultado{
width: 98%;
height: 20px;
background-color: #E18CFF;
border: 1px solid;
border-color: black;
border-radius: 3px;
padding: 3px;
text-align: center;

}

fieldset{
    width: 450px;
    margin: 10% 30%;
}